{% extends 'layout.html.twig' %}

{% block contact %}active{% endblock %}
{% block body %}
    <div class="container-fluid bg-dark py-5 mb-5 page-header">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-3 text-white animated slideInDown">{{'Contactez-nous'|trans}}</h1>
                </div>
            </div>
        </div>
    </div>
<div class="container-fluid mb-5 py-5">
    <div class="container">
        <div class="row g-2">

            <div class="col-lg-6 col-md-12 wow fadeInUp" data-wow-delay="0.5s">
                <form class="text-dark">
                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="name" placeholder="Your Name">
                                <label for="name">{{'Votre Nom'|trans}}</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="email" class="form-control" id="email" placeholder="Your Email">
                                <label for="email">{{ 'Votre Email'|trans }}</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="subject" placeholder="Subject">
                                <label for="subject">{{ 'Sujet'|trans }}</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Leave a message here" id="message" style="height: 150px"></textarea>
                                <label for="message">Message</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary w-100 py-3" type="submit">{{ 'Envoyer'|trans }}</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-5 col-md-12 m-lg-3 wow fadeInUp" data-wow-delay="0.1s">
                <h3 class="text-dark animated slideInDown">{{'Contactez-nous'|trans}}</h3>
                <p class="mb-4 text-dark">
                    {{'Merci de partager vos impressions avec Atlantis.'|trans}}
                    {{'Vous pouvez nous écrire pour n\'importe quel besoin et nous nous ferons un plaisir de l\'étudier.'|trans}}
                </p>

            </div>
        </div>
    </div>
</div>
{% endblock %}